body{
  background-color: rgba(214, 221, 220, 0.493);
}

.header-container{
  height : 250px;
  background-color: #dddddd;
  padding : 25px;
}

.todo-list-container{
  height: auto;
  overflow: auto;
  padding: 20px;
}

.todo-content{
  height: auto;
  width: auto;
  padding: 10px;
  overflow: auto;
}
  .search_input{
  border: 0;
  outline: 0;
  background-color: white;
  height: 50px;
  line-height: 40px;
  padding: 0 15px;
  width: 800px;
  border-radius: 30px;
}
